<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/head"></th:block>
<body>

	<th:block th:include="fragments/navbar"></th:block>
	
	<div class="container">

		<div class="card" style="max-width: 100%;">
		

			<div class="container">
					<div class="card-header text-white bg-primary">COMPRAR TICKET</div>
					<div class="card-body">
						<form th:action="@{/tickets/searchClient}" method="get">
						
							<div class="form-row align-items-center">
							
								<div class="col-auto">
									<Label class="sr-only" for="inputDni">Datos a completar</Label>
									<input
										id="inputDni" type="text" class="form-control form-control-lg"
										name="dni"
										placeholder="DNI a buscar">
										
								</div>
									<div class="col-auto">
									<button type="submit" class="btn btn-primary">Buscar</button>
								
								</div>
							</div>
						</form>
					</div>
				
				<div class ="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Id</th>
							<th>Nombre</th>
							<th>Apellido</th>
							<th>DNI</th>
							<th>Celular</th>
							<th>Fecha de Nacimiento</th>
							<th>Email</th>
							<th>Seleccionar</th>
					
						</tr>
					</thead>
					<tbody>
						<tr th:each="client:${clients}">

							<td th:text="${client.id}">cruzSolar</td>
							<td th:text="${client.name}">cruzSolar</td>
							<td th:text="${client.lastName}">cruzSolar</td>
							<td th:text="${client.dni}">cruzSolar</td>
							<td th:text="${client.cellPhone}">cruzSolar</td>
							<td th:text="${client.birthday}">cruzSolar</td>
							<td th:text="${client.email}">cruzSolar</td>
							
							<td><a th:href="@{'/tickets/connectClient/' + ${client.id}}"
								class="btn btn-primary">Cliente</a></td>
							
						</tr>
					</tbody>
				</table>
				</div>
				
				<div class="card" style="width: 18">
                     <div  class="card-body"  >
                    
                        <h5 class="card-title">Asientos</h5>
                      
                      
                      
                                       
                     <a th:href="@{'/tickets/connectseattobuy/' + ${seat.id}}" class="form-group" th:each="seat : ${seats}"  >
                       
                       <span th:if="${seat.available} != true" >                     
                             <button id="buttonseat" class="btn btn-danger" 
                             th:text="${seat.number}"
                             th:value="${seat.id}" >
                             </button>
                        </span>                      
                       <span th:if="${seat.available} == true">
                        <button  id="buttonseat2" class="btn btn-success" 
                             th:text="${seat.number}"
                             th:value="${seat.id}" >
                             </button>
                        </span>       
                    </a>                
               
                     </div> 
                     
                
                     </div> 
				 
						<form th:object="${ticket}" th:action="@{/tickets/saveInstantTicket}"
					th:method="post">
					<div class="form-group">
						<input type="hidden" class="form-control" th:field="*{id}" />
					</div>
					<!--  
					<div class="form-group">
						<label for="emissionDate">Fecha de Emision</label> <input type="date"
							class="form-control" id="emissionDate"  aria-describedby="emissionDate"
							th:field="*{emissionDate}" placeholder="Ingrese fecha de emision" min="2019-11-19" max="-30d" value="2019-11-19"
							/>
					</div>
					
					
					 -->
					 
					 
					 <div class="form-group">
						<label for="emissionDate">Fecha de Emision : </label> 
						<b th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}"></b>						
					</div>
					
							
					<a th:href="@{/trips/list}" class="btn btn-primary">Regresar</a>
					<button type="submit" class="btn btn-success">Comprar</button>
				</form>
				
			</div>
		</div>

	</div>
	<th:block th:include="fragments/scripts"></th:block>

</body>
</html>